body{
    font-family:'Times New Roman', Times, serif
  }
  
  body{
    font-size: 25px
  }
  
  body{
    font-style:normal
  }
  
  body{
    text-align: center;
  }

  body{
    background-color:lavender
  }
